/* Last edited by Antony Simonoff on 7/24/2018 */

img {
	image-orientation: from-image;
}

.img-fill {
    max-width: 100%;
    max-height: 100%;
	min-width: 100%;
	min-height: 100%;
}

#heading-breadcrumbs {
  background: url('../images/texture-bw.png') center center repeat;
  padding: 20px 0;
  margin-bottom: 40px;
}
#heading-breadcrumbs.no-mb {
  margin-bottom: 0;
}
#heading-breadcrumbs h1 {
  color: #333333;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
@media (max-width: 991px) {
  #heading-breadcrumbs h1 {
    text-align: center;
  }
}
#heading-breadcrumbs ul.breadcrumb {
  margin-top: 5px;
  margin-bottom: 0;
}

.heading-contact-form h3 {
  display: inline-block;
  border-bottom: solid 5px #38a7bb;
  line-height: 1.1;
  margin-bottom: 0;
  padding-bottom: 10px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

#map {
	max-width: 100%;
    max-height: 100%;
	min-width: 100%;
	min-height: 100%;
	height: 300px;
	display:block;
}

.img-pad {
	margin-bottom: 10px;
	margin-top: 10px;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.5), 2px 6px 20px 0 rgba(0, 0, 0, 0.5);
}